{% extends 'base.html.twig' %}

{% block title %} {{ oferta.nombre }}{% endblock %}

{% block body %}
    <div class = "">
        <div class = "row">
            <div class = "col s12 m12 l9">
                {% include "AppBundle:default/include:oferta.html.twig" %}
            </div>
            <div class = "col s12 m12 l3">
                <div class = "card">
                    <div class = "card-content black-text center">
                        <span class = "card-title">Ofertas en otras ciudades</span>
                        <ul>
                            {% for oferta in relacionadas %}
                                <li>{{ oferta.ciudad.nombre }}:
                                    <a href = "{{ path('detalles_oferta', {'ciudad': oferta.ciudad.ficha, 'ficha': oferta.ficha}) }}">{{ oferta.nombre }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>


            </div>
        </div>

    </div>

{% endblock %}




